# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# tempo codes.
old*.py
tempo*.py

# Data
data/*
!data/data_labels/

# Dynamo codes.
dyn/

# Result
*.html
*.png
# Distribution / packaging
.Python
lib/
var/
MANIFEST

# PyInstaller
*.manifest
*.spec


# Django stuff:
*.log

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.vscode/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/