# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# tempo codes or archived data.
old*.py
tempo*.py
archive/

# Data
data/*
gorvt/*
!data/data_autocon_test/
!data/data_autocon_ga/
!data/data_autocon_test_no_grids/
!paperfigrues/

# Dynamo codes.
dyn/
old_src/

# Result
*.html
*.pdf
*.svg

# Distribution / packaging
.Python
lib/
var/
MANIFEST

# PyInstaller
*.manifest
*.spec


# Django stuff:
*.log

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.vscode/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/